/* Mobile Design First */
#container {
    max-width: 700px;
    margin: 0 auto;
}

@media (min-width: 701px) and (max-width: 1366px) {
    #container {
        max-width: 1366px;
    }
}

@media (min-width: 1366px) and (max-width: 1440px) {
    #container {
        max-width: 1440px;
    }
}

@media(min-width: 1440px) {
    #container {
        max-width: none;
    }
}