header {
    width: 90%;
    height: 100px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Hamburguer Icon + Logo */
header .menu-icon {
    width: 25px;
    height: 2px;

    background-color: var(--Dark-Grey);
    border-radius: 5px;

    cursor: pointer;

    transition: all .5s ease-in-out;

    z-index: 10;
}

header .menu-icon.active {
    position: fixed;
}

/* Top Bar Menu Icon + Bottom Bar Menu Icon */
.menu-icon::before,
.menu-icon::after {
    content: '';
    position: absolute;

    width: 25px;
    height: 2px;

    background-color: var(--Dark-Grey);
    border-radius: 5px;

    transition: all .5s ease-in-out;
}

.menu-icon::before {
    transform: translateY(-5px);
}

.menu-icon::after {
    transform: translateY(5px);
}


@media(min-width: 1440px) {
    header {
        width: 85%;
    }
}